<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.techtown.sns_project">
    <!-- internet 사용을 위한 permission을 여기서 추가해준다. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SNS_project">
        <!-- activity에서 SignUpActivity를 넣으면 첫 실행시 해당 화면이 실행된다. -->
        <activity
            android:name=".InitialActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 새로 추가되는 Activity(view?)들은 모두 manifest에 추가를 해주어야 한다. -->
        <activity android:name=".Normal.NormalSignInActivity"></activity>
        <activity android:name=".Enterprise.EnterpriseSignInActivity"></activity>
        <activity android:name=".Enterprise.EnterpriseMemberInfoActivity"></activity>
        <activity android:name=".Normal.NormalMemberInfoActivity"></activity>
        <activity android:name=".SignUpActivity"></activity>
        <activity android:name=".Password_Init_Activity"></activity>
        <activity android:name=".Enterprise.EnterpriseMainActivity"></activity>
        <activity android:name=".Normal.NormalMainActivity"></activity>
        <activity android:name=".Enterprise.Setting.EnterpriseSettingActivity"></activity>
        <activity android:name=".Enterprise.EnterpriseQRActivity"/>
        <activity android:name=".Enterprise.Setting.EnterpriseMemberInfo"/>
        <activity android:name=".CommonSignInActivity"/>
        <activity android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation"/>

        <activity android:name=".cameraexample.ScanQR"
            android:exported="true">
            <!--   <activity android:name=".MainActivity">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="com.example.cameraexample"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            x
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>

        <activity
            android:name=".cameraexample.Activity_codi"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="donghyeok.page.link"
                    android:scheme="http"/>
                <data
                    android:host="donghyeok.page.link"
                    android:scheme="https"/>

            </intent-filter>
        </activity>


    </application>

</manifest>