<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.techtown.sns_project">

    <!-- internet 사용을 위한 permission을 여기서 추가해준다. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SNS_project">
        <service
            android:name=".pushAlarm.BackgroundAlarmService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".fragment.profile.Bookmark.bookmark" />
        <activity
            android:name=".fragment.profile.profileAdapter"
            android:exported="false"
            tools:ignore="Instantiatable" /> <!-- activity에서 SignUpActivity를 넣으면 첫 실행시 해당 화면이 실행된다. -->
        <activity
            android:name=".InitialActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 새로 추가되는 Activity(view?)들은 모두 manifest에 추가를 해주어야 한다. -->
        <activity android:name=".Board.CommentsActivity" />
        <activity android:name=".Board.profile.ProfileActivity" />
        <activity android:name=".Board.profile.Closet.ClosetMainActivity" />
        <activity android:name=".Board.BoardPostClickEvent" />
        <activity android:name=".Board.LikeBoardPostClickEvent" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".Enterprise.EnterpriseMemberInfoActivity" />
        <activity android:name=".Normal.Setting.NormalMemberInfoActivity" />
        <activity android:name=".Board.Upload.UploadActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".Password_Init_Activity" />
        <activity android:name=".Enterprise.EnterpriseMainActivity" />
        <activity android:name=".Normal.NormalMainActivity" />
        <activity android:name=".Enterprise.Setting.EnterpriseSettingActivity" />
        <activity android:name=".Enterprise.QR.EnterpriseQRListClickEvent" />
        <activity android:name=".Enterprise.QR.EnterpriseQRActivity" />
        <activity android:name=".Enterprise.QR.EnterpriseQRListActivity" />
        <activity android:name=".Enterprise.Setting.EnterpriseMemberInfo" />
        <activity android:name=".CommonSignInActivity" />
        <activity android:name=".Normal.Setting.NormalSettingActivity" />
        <activity android:name=".Normal.Setting.NormalMemberInfo" />
        <activity android:name=".Normal.Setting.NormalMemberInfoChangeActivity" />
        <activity
            android:name=".fragment.profile.Closet.ClosetMainActivity"
            android:parentActivityName=".Normal.NormalMainActivity" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name=".Camera.ScanQR"
            android:exported="true">

            <!-- <activity android:name=".MainActivity"> -->

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.cameraexample"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Camera.Activity_codi"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
    </application>

</manifest>